@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-cursor.animated {
  animation: glow 1.5s infinite ease-in-out;
}

button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* You might want to adjust text color on hover as well */
  /* color: #someHoverColor; */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
